#apple {
    width: auto;
    height: auto;
}

#navbar {
    display: flex;
    width: auto;
    height: 44px;
    padding: 0px 244px;
    align-items: center;
    background: rgba(0, 0, 0, 0.80);
    margin: auto;
    justify-content: center;
}

#navbar>ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    color: #F5F5F7;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    /* 138.1% */
    letter-spacing: 0.231px;
}

#navbar>div {
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    align-items: center;

}

#navbar>div>i {
    gap: 20px;
    padding-inline: 30px;
    color: #F5F5F7;
}

#list-of-pro {
    display: flex;
    height: 70px;
    padding-inline: 5px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 30px;
    margin-top: 25px;
}

.newitem>img {
    width: 50px;
    height: 40px;
    flex-shrink: 0;
    margin-left: 5px;
    transition: all 2s ease;
}

.newitem>img:hover {
    transform: scale(150%, 150%);
}

.newitem>p:first-child {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: 14px;
    /* 133.337% */
    letter-spacing: -0.12px;

}

.ptag {
    color: #b9591d;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 10px;
    font-style: normal;

    letter-spacing: -0.08px;
}

.items>p {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: 14px;
    /* 133.337% */
    letter-spacing: -0.12px
}

.items>img {
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    transition: all 2s ease;
}

.items>img:hover {
    transform: scale(150%, 150%);
}

#iphonephoto {
    display: flex;
    height: 800px;

    justify-content: center;
    align-items: center;
    background: #FFF;
}

.photo {
    width: 60vw;
    height: 700px
}

.photo1 {
    text-align: center;

}

.photo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.photo>div>img {
    width: 600px;
    height: 600px;
    flex-shrink: 0;
    margin-left: 200px;
}

.photo1>p:first-child {
    color: #6E6E73;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 147.059% */
    letter-spacing: -0.374px;
}

.photo1>h1 {
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    /* 108.349% */
    letter-spacing: -0.144px;
    background: linear-gradient(90deg, #2CA2B4 0%, #5598DE 24%, #7F87FF 45%, #F65AAD 76%, #EC3D43 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.from {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 138.1% */
    letter-spacing: 0.231px;
}

.photo2>button {
    width: 61.203px;
    height: 36px;
    padding: 8px 15.6px 8px 16px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 980px;
    background: #0071E3;
    transition: all 1s ease;

}

.photo2>p {
    color: #06C;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px;
    /* 138.1% */
    letter-spacing: 0.231px;
}

.photo2>button:hover {
    transform: scale(150%, 150%);
    background-color: yellowgreen;
}

#iphonephoto1 {
    background: #000;
    display: flex;
    margin-top: 170px;
    height: 930.5px;

    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.photoo1 {
    text-align: center;
}

.photoo1>p:first-child {
    color: #6E6E73;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 147.059% */
    letter-spacing: -0.374px;
}

.photoo1>h2 {
    color: whitesmoke;
    font-family: SF Pro Text;
    font-size: 30px;
}

.photoo1>h1 {
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    /* 108.349% */
    letter-spacing: -0.144px;
    background: linear-gradient(180deg, #FFB6FF 0%, #B344FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.frompro {
    color: #F5F5F7;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px;
    /* 138.1% */
    letter-spacing: 0.231px;
}

.photo5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#iphonephto2 {
    display: flex;
    height: 750px;

    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
}

.photo5-1>img {
    width: 96px;
    height: 22px;
    flex-shrink: 0;
}

.photo5-1>h1 {
    text-align: center;
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    /* 108.349% */
    letter-spacing: -0.144px;
    background: linear-gradient(90deg, #1E3791 0%, #2948B1 40%, #3153C6 55%, #385FDA 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.photo5-1 {

    text-align: center;
}

.photo5-1>p {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px;
    /* 138.1% */
    letter-spacing: 0.231px;
}

.latest {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    background: #FFF;

}

.latest>div {
    width: 90vw;
    height: 800px;
    background-image: url(./Assets/figure\ \(5\).svg);
}

.latest1 {
    margin-top: 400px;
    margin-left: 300px;
}

.latest1>h3 {
    color: #FFF;
    font-family: SF Pro Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 116.667% */
    letter-spacing: 0.216px;
}

.latest1>h1 {
    color: #FFF;
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    /* 108.349% */
    letter-spacing: -0.144px;
}

.latest1>button {
    width: 142.234px;
    height: 36px;
    padding: 8px 15.6px 8px 16px;
    border-radius: 980px;
    background: #FFF;
    transition: all 0s ease-in-out;
}

.latest1>button:hover {
    transform: scale(120%, 150%);
    background-color: #3153C6;
    color: #F5F5F7;
}
#rightphone {
    height: 2591px;
}
#rightphone>h1 {
    text-align: center;
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    /* 108.349% */
    letter-spacing: -0.144px;
}

.iphoneg {
    display: flex;
    width: 80vw;
    margin: auto;
    justify-content: space-between;

}

.iphoneg1 {
    width: 209.5px;
    height: 547px;
    flex-shrink: 0;
    text-align: center;

}

.iphoneg1>img:first-child {
    width: 190px;
    height: 257px;
    flex-shrink: 0;
}

.imgtwo {
    width: 68px;
    height: 14px;
    flex-shrink: 0;
    margin-top: 25px;
}

.iphoneg1>h6 {
    color: #BF4800;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.337% */
    letter-spacing: -0.12px;
}

.iphoneg1>h3 {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 147.059% */
    letter-spacing: -0.374px;
}

.iphoneg1>p {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.859% */
    letter-spacing: -0.224px;
    margin-top: 35px;
}

.iphoneg1>button {

    width: 45px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 980px;
    background: #0071E3;
    transition: all 1s ease-in;
}

.iphoneg1>button:hover {
    transform: scale(150%, 150%);
    background-color: #B344FF;
    border: none;
}

.iphoneg1>h5 {
    color: #06C;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.859% */
    letter-spacing: -0.224px;
    border-bottom: 1px solid gray;
    padding-bottom: 50px;
}

.phonesize {
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.size1 {
    margin-top: 110px;
    width: 209.5px;
    height: 113.375px;
    flex-shrink: 0;
    text-align: center;
}

.size1>h2 {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 147.059% */
    letter-spacing: -0.374px;
}

.size1>p {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.859% */
    letter-spacing: -0.224px;
}

.size1>h5 {
    color: #6E6E73;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.859% */
    letter-spacing: -0.224px;
    margin-top: -20px;
}

.size1>h4 {
    color: #6E6E73;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.859% */
    letter-spacing: -0.224px;
}

.camera {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.camsize {
    margin-top: 100px;
    width: 209.5px;
    height: 188px;
    flex-shrink: 0;
    text-align: center;
}

.camsize>img {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
}

.camsize>h2 {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.859% */
    letter-spacing: -0.224px;
}

.camsize>p {
    color: #6E6E73;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.859% */
    letter-spacing: -0.224px;
}

.bettary {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.batsize {
    padding-top: 4px;
    margin-top: 100px;
    text-align: center;
    width: 200px;
    height: 75px;
}

.batsize>p {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.859% */
    letter-spacing: -0.224px;
}

.net {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.859% */
    letter-spacing: -0.224px;
   
}

.finish {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 60px;
    color: #06C;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px;
    /* 138.1% */
    letter-spacing: 0.231px;
}

#product {
    height: auto;
    background-color: #F5F5F7;
    padding: 45px;
    border-bottom: 0.5px solid gray;
    padding-bottom: 45px;
}

.wow {
    width: 90vw;
    background: #01012A;
    display: flex;
    height: 587px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.wow>div>img {
    width: 106px;
    height: 106px;
    flex-shrink: 0;
    margin-left: 150px;
}

.wow>div>h1 {
    color: #FFF;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 90px;
    font-style: normal;
    font-weight: 500;
    margin-top: -10px;
    letter-spacing: -0.27px;
}

.wow>div>p {
    color: #2997FF;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    margin-top: -50px;
    letter-spacing: 0.231px;
}

#product>h1 {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 107.143% */
    letter-spacing: -0.28px;
}
.save {
    text-align: center;
    height: 700px;
    flex-shrink: 0;
    width: 90vw;
    margin: auto;
    background: #FFF;
    padding: 20px;
}
.save>h6{
    color: #1D1D1F;
font-family: SF Pro Display;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 116.667% */
letter-spacing: 0.216px;
}
.save>h1{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 52.008px; /* 108.349% */
letter-spacing: -0.144px;
}
.save1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}
.save1>div{
    width: 200.5px;
height: 141px;
}
.save1>div>img{
    width: 123px;
height: 61px;

}
.save1>div>p{
    color: #6E6E73;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px; /* 138.1% */
    letter-spacing: 0.231px; 
}
.save>button{
    margin-top: 50px;
    border-radius: 980px;
background: #0071E3;
width: 169.797px;
height: 56px;
padding: 18px 30.6px 18px 31px;
color: #FFF;

text-align: center;
font-family: SF Pro Text;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 117.648% */
letter-spacing: -0.374px;
}
.save>p{
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 147.059% */
     margin-top: 50px; 
    letter-spacing: -0.374px; 
}
.save>p>span{
    color: #06C;
text-align: center;
font-family: SF Pro Text;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 147.059% */
letter-spacing: -0.374px;
}
.creditcard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 35px;
    width: 95vw;
    margin: auto;
}
.credit{
    width: 675px;
height: 705px;
background: #FFF;
text-align: center;

}
.credit>div>h2{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 42.008px; /* 108.349% */
letter-spacing: -0.144px;
}
.credit>div>p{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 25.001px; /* 138.1% */
letter-spacing: 0.231px;
}
.credit>div>h6{
    color: #06C;
text-align: center;
font-family: SF Pro Display;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
}
.credit>div{
    width: 450px;
    height: 313px;
    flex-shrink: 0; 
    margin-left: 85px;
}
.bestplace{
    width: 90vw;
    margin: auto;
    padding: 35px;
    
}
.bestplace>img{
    width: 1400px;  
    margin-left: 20px;
}
.magsafe{
    display: flex;
    justify-content: center;
    width: 90vw;
    align-items: center;
    background: #FFF;
    margin: auto;
   height: 530px;
    flex-shrink: 0;
    gap: 45px;
    margin-bottom: 20px;
}
.magsafe>img{
    width: 603px;
height: 450px;
flex-shrink: 0;
margin-top: 35px;
margin-left: 25px;
}
.magsafe>div{
    width: 400px;
height: 198.391px;
flex-shrink: 0;
}
.magsafe>div>h2{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 52.008px; /* 108.349% */
letter-spacing: -0.144px;
}
.magsafe>div>p{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
}
.magsafe>div>h6{
    color: #06C;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
}
.magsafe1{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    color: #06C;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
}
.headphone{
   width: 90vw;
   margin: auto;
   height: 600px;
   background: #FFF;
   padding: 35px;
}
.headphone>h1{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 52.008px; /* 108.349% */
letter-spacing: -0.144px;

}
.headphone>img{
    width: 1063px;
height: 450px;
flex-shrink: 0;
margin-left: 120px;
}
#product>h4{
    color: #06C;
text-align: center;
font-family: SF Pro Display;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32.002px; /* 133.341% */
letter-spacing: 0.216px;
}
.accessories>div{
    width: 300px;
height: 200px;
flex-shrink: 0;
text-align: center;
}
.accessories{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family: SF Pro Display;
    margin-bottom: 150px;
}
.accessories>div>h6{
    color: #06C;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 300;
line-height: 20px; /* 138.1% */
letter-spacing: 0.231px;
}
.switch{
    width: 675px;
    text-align: center;
    background-color: #FFFFFF;
    margin: auto;
    padding: 20px;
height: 500px;
flex-shrink: 0;
}
.switch>h1{
    color: #1D1D1F;
text-align: center;
font-family: SF Pro Display;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 52.008px; /* 108.349% */
letter-spacing: -0.144px;
}
.switch>p{
    color: #06C;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 138.1% */
letter-spacing: 0.231px;
}
.switch>img{
    height: 290px;
}
.apps{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    height: 550px;
    width: 90vw;
    margin: auto;
    gap: 60px;
}
.apps>img{
    width: 500px;
height: 300px;
flex-shrink: 0;
}
.appli{
   display: flex;
   align-items: center;
   gap: 20px; 
   width: 90vw;
   margin: auto;
   justify-content: center;
}
.appli1{
    margin-top: 50px;
    width: 600px;
    background: #090A0E;
    text-align: center;
    height: 550px;
}
.part1>p{
    color: #F5F5F7;
text-align: center;
font-family: SF Pro Display;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 29.001px; /* 138.1% */
letter-spacing: 0.231px;
}
.part1>img{
    width: 98px;
    height: 39px;
    margin-top: 35px; 
}
.part2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.part2>img{
    display: flex;
width: 200px;
height: 135px;
}
.part3{
    display: flex;
    overflow: hidden;
}
.appli2{
    margin-top: 50px;
    width: 600px;
    background: #FFF;
    text-align: center;
    height: 550px;
}
.part4>img{
    width: 98px;
    height: 39px;
    margin-top: 35px; 
}
.appli3{
    width: 90vw;
    margin: auto;
    gap: 35px;
    display: flex;
    justify-content: center;
}
.appli3>div>img{
    width: 600px;
    height: 550px;
    margin-top: 30px;
}
.part5>img{
    width: 502px;
    height: 299px;
    flex-shrink: 0; 
}
.part5{
    margin-top: 25px;
    padding: 25px;
    text-align: center;
    background: #F9F9F9;
    width: 580px;
height: 510px;
flex-shrink: 0;
}
.research{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    background: #FAFAFA;
    height: 450px;
   
}
.research>div>h2{
    color: #1D1D1F;
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px; /* 108.349% */
    letter-spacing: -0.144px; 
}
.research>div{
    text-align: center;
}
.research>div>h6{
    color: #06C;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px; /* 138.1% */
    letter-spacing: 0.231px;  
}
.research>img{
    width: 666px;
    height: 358px; 
    
}
#footer{
   margin-top: -20px;
    background: #F5F5F7;
  
   
    
}
.footer1{
   width: 90vw;
   margin: auto;
   display: flex;
   justify-content: space-around;
   border-top: 0.5px solid gray;
   padding-top: 20px;
}
.footer1>div>div>h4{
    color: #1D1D1F;
font-family: SF Pro Text;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 133.337% */
letter-spacing: -0.12px;
}
.footer1>div>p{
    color: #424245;
    font-family: SF Pro Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.337% */ 
}
#footer>p{
    color: #424245;
    font-family: SF Pro Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.337% */ 
    padding: 10px;
    margin-left: 50px;
}
#footer>p>span{
    color: #06C;
font-family: SF Pro Text;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px;
}
.footer2{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
    color: #6E6E73;
font-family: SF Pro Text;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.337% */
border-top: 0.5px solid gray;

}
.footer2>div{
    display: flex;
    gap: 15px;
}
.footer2>div>p{
    border-left: 0.5px solid gray;
    padding-left: 10px;
    
}
@media screen and (max-width:480px) {
    #Apple{
        flex-direction: column;
        align-items: center;
    }
    #product{
        flex-direction: column;
        align-items: center;
    }
    #list-of-pro{
        flex-direction: row;
        align-items: center;
     
    }
    #iphonephoto{
        flex-direction: column;
        align-items: center;
        
    }
    #iphonephoto1{
        flex-direction: column;
        align-items: center;
        
    }
}